<!-- views/linuxModule.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/xterm.css">
  <link rel="stylesheet" href="/stylesheets/linuxModule.css">

  <title>Linux Learning Lab</title>
</head>
<body class="bg-light">
  <!-- Header -->
  <div id="header">
    <div class="header-left">
      <a id="back-to-dashboard" href="/dashboard">
        <button class="btn btn-secondary">
          <span>&#8592;</span> Dashboard
        </button>
      </a>
    </div>
    <h1 class="header-text">Linux Learning Lab</h1>
    <div class="header-right">
      <a id="logout-link" href="/logout"><button class="btn btn-primary">Logout</button></a>
    </div>
  </div>

  <!-- Main Container -->
  <div id="main-container">
    <!-- Left Container for Lab Content -->
    <div id="lab-content" class="border-right">
      <!-- Lab Content will be rendered here dynamically -->
    </div>

    <!-- Right Container for WebSocket Terminal -->
    <div id="terminal-container" class="border-left">
      <!-- xterm.js terminal will be rendered here dynamically -->
      <div id="xterm-container" class="terminal-container"></div>
    </div>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- xterm.js library -->
  <script src="/javascripts/xterm.js"></script>

  <!-- Your xterm.js initialization script -->
  <script src="/javascripts/linuxModule.js" defer></script>
</body>
</html>
