<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/networkingModule.css">
    <title>Networking Learning Lab</title>
</head>
<body class="bg-light">
   <!-- Header -->
    <div id="header">
        <!-- Left side of the header -->
        <div class="header-section header-left">
          <a id="back-to-dashboard" href="/dashboard">
            <button class="btn btn-secondary">
              <span>&#8592;</span> Dashboard
            </button>
          </a>
          <!-- Add some space between the buttons -->
          <span class="separator"></span>
          <!-- Logout Button -->
          <a id="logout-link" href="/logout">
            <button class="btn btn-primary">Logout</button>
          </a>
        </div>
    
        <!-- Center of the header -->
        <div class="header-section header-center">
          <h1>Networking Lab</h1>
        </div>
    
        <!-- Right side of the header -->
        <div class="header-section header-buttons">
          <!-- Spawn Kali Instance Button -->
          <button id="spawnKaliButton" class="btn btn-primary">Spawn Kali Instance</button>
          <!-- Terminate Kali Instance Button -->
          <button id="terminateKaliButton">🗑️</button>
        </div>
      </div>

     <!-- Main Container -->
     <div id="main-container">
      <!-- Left Container for Lab Content -->
      <div id="lab-content" class="border-right">
        <!-- Lab Content will be rendered here dynamically -->
      </div>

    <!-- Alert Container -->
    <div id="alert-container" class="alert-container"></div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Your networkingModule.js initialization script -->
    <script src="/javascripts/networkingModule.js" defer></script>
</body>
</html>
